@media only screen and (max-width: 800px) {
  .addProduct {
    width: 100%;
  }
}
.addProduct {
  width: 100%;
}
.addProduct-from {
  background: #ffffff;
  border-radius: 20px;
  margin-top: 40px;
}
/* .backgroundColor {
  background-color: #f4fcfb;
  width: 100%;
  height: 500px;
} */
